__pycache__/
*.pyc
*.py[cod]
.env
.venv/
venv/
*.egg-info/
.pytest_cache/
script.py
backend.md
frontend.md

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/

*.log
.DS_Store
.vscode/
